
*{
    margin: 0;
    padding: 0;
    color: #ffff;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

body {
    background: linear-gradient(to right, #020c18 , #020d22);
}


.social {
    text-align: center;
    background-color: #22355857;
    width: 300px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}